[tool.poetry]
name = "rath"
version = "0.2.5"
description = "aiohttp powered apollo like graphql client"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
readme = "README.md"
packages = [{include = "rath"}]

[tool.poetry.dependencies]
python = "^3.7"
koil = "0.2.5"
aiohttp = "^3.8.1"
graphql-core = "^3.2.0"
pydantic = "^1.9.0"
websockets = {version = "^10.2", optional = true}

[tool.poetry.extras]
websockets = ["websockets"]


[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^1.0.3"
pytest-cov = "^3.0.0"
black = "^22.1.0"
pydoc-markdown = "^4.6.1"
turms = {version = "^0.2.3", python = "^3.9"}
pytest-qt = "^4.0.2"
PyQt5 = "^5.15.6"
autoflake = "^1.4"
pylint = "^2.12.2"
testcontainers = "^3.5.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.pydoc-markdown.loaders]]
type = "python"
search_path = [ "rath" ]

[tool.pytest.ini_options]
asyncio_mode = "auto"
qt_api="pyqt5"
markers = [
    "integration: marks tests that require a running server",
    "qt: marks tests that require a running qt application",
    "public: marks tests that require a public api"
]

[tool.pydoc-markdown.renderer]
type = "docusaurus"
docs_base_path = "website/docs"
